@media screen and (max-width: 750px) { 
    * {
        width: 100%;
    }
    header, 
    section,
    footer {
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        height: 100%;
        padding: 10px;
    }

    .section_2, .cards ul {
        flex-direction: column;
    }
    .section_1 {
        gap: 2px;
    }

  main, navabr {
    display: flex;
    flex-direction: column;
  }

  .nav a {
    display: none;
  }

  .right_1 img {
    width: 300px;
}

  .left_1 h1 {
    font-size: 25px;
  }

  .left_1 p {
    font-size: 15px;
  }

  .click_1 {
    gap: 10px;
  }

  .click_1 a {
    text-align: center;
    border-radius: 50px;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 4px;
    padding: 15px;
    width: 130px;
    color: #fff;
    cursor: pointer;
}

  .logos {
    margin: 0 auto;
    width: 350px;
    height: 300px;
    flex-direction: column;
  }

  .logos img {
    width: 100px;
  }

  .left_2 img {
    width: 229px;
 }

 .right h1 {
    font-size: 15px;
 }

 .right p {
    font-size: 15px;
    width: 100%;
 }

 section .title h4 {
    font-size: 10px;
 }

 .cards li {
    width: 350px;
    margin: 0 auto;
    height: 250px;
 }
 .cards li img {
    width: 130px;
 }
 .box_3 {
    margin-top: 0px;
    height: 100%;
  }

 section .title h1 {
    font-size: 20px;
    width: 100%;
  }

  section .get button {
    width: 100%;
  }

  footer {
    flex-direction: column;
  }
}